$core-margin: 8px;
$core-padding: 8px;

$h1: 36px;
$h2: 24px;
$h3: 18px;
$bodyCopy: 16px;

$desktop: 900px;

$core-color-brand: #46c3be;
$core-color-foreground: #ffffff;
$core-color-cancelled: #c1000e;
